CLIENT_ID=beacon-client-01
BEACON_INTERVAL_HOURS=1

SERVER_HTTP_BASE=http://localhost:8000
SERVER_WS_BASE=ws://localhost:8000

SERVER_TCP_HOST=localhost
SERVER_TCP_PORT=9000

# Supported names: TCP, HTTP, HTTP2, HTTP3, DNS, DOH, ICMP, FTP, IMAP, MAPI, SMB, LDAP
ENABLED_CHANNELS=HTTP,TCP
